<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      body {
        background-color: green;
        height: 400px;
      }

      h1 {
        font-size: 25px;
      }
    </style>
  </head>
  <body>
    <h1>
      Please click this link to reset your password
      <a href="{{ resetLinkURL }}">{{ resetLinkText }}</a>
    </h1>
  </body>
</html>
